.nav-bar {
    height: 100%;
    width: 100%;
    background-color: rgb(212, 22, 22);
}
.nav-bar-links {
    display: flex;
    padding: 10px 12px 10px 20px;
    font-size: 25px;
    color: #ffffff;
}
.nav-bar-links a {
    padding: 6px 20px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    
}

.nav-bar-links a:hover {
    color: #f1f1f1;
    background: rgb(128, 25, 25);
    
  }

  @media all and (max-width: 700px) {
    .nav-bar-links {
    display: flex;
    flex-direction: column;
    }
  }