.ticket-summary {
    display: flex;
}

.grid-item-title {
    display: flex;
    border-bottom: 1px solid #dfdfdf;
    width: 200px;
    color: blue;
    justify-content: left;
}

.grid-item-description {
    border-bottom: 1px solid #dfdfdf;
    width: 200px;
    flex-grow: .5;
}

.grid-item-type {
    border-bottom: 1px solid #dfdfdf;
    width: 200px;
}

.grid-item-priority {
    border-bottom: 1px solid #dfdfdf;
    width: 200px;
}

.ticket-summary-data {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.ticket-summary-data:hover {
    color: rgb(212, 22, 22);
  }

.title {
    color: blue;
}
