.ticket-summary {
    display: flex;
    

}

.grid-item {
    border-bottom: 1px solid #dfdfdf;
    width: 200px;
}

.ticket-summary-data {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.ticket-summary-data:hover {
    color: rgb(212, 22, 22);
  }

