.update-ticket {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px;
    font-weight: bold;
    justify-content: space-evenly;
    
}

 .update-ticket input {
    font: 95% Arial, Helvetica, sans-serif;
	margin: 10px auto;
	padding: 7px;
    background: #F7F7F7;
    border: 1px;
    
}

.form-input input {
    width: 400px;
}

.submit {
    background-color: rgb(212, 22, 22);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    cursor: pointer;
}

.delete {
    background-color: rgb(212, 22, 22);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 82px;
    cursor: pointer;
    position: relative;
    top: 130px;
    left: 250px;
}